
# Base package of project
nablarch.commonProperty.basePackage=com.nablarch.example.climan.rest

# Default business date category
nablarch.businessDateProvider.defaultSegment=01

# Transaction timeout time (seconds)
nablarch.transactionFactory.transactionTimeoutSec=15

# Default format of current date set using the feature to automatically set values in the database.
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# Fetch size of statements
nablarch.statementFactory.fetchSize=50

# Wait time (seconds) for execution of statements by the JDBC driver
nablarch.statementFactory.queryTimeout=600

# Separation level of transactions
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# Encoding of SQL files
nablarch.sqlLoader.fileEncoding=utf-8

# Maximum number of search results
app.common.search.limit=1000

# User ID to be output to the log
nablarch.userIdAttribute.anonymousId=guest

# Time Zone
nablarch.timeZoneAttribute.defaultTimeZone=Asia/Tokyo