<settings>
  <profiles>
    <profile>
      <id>ci</id>
      <properties>
        <!--
            以下はGSPが使用する開発環境のDBの接続情報である。
            全ての開発者が知っても差し支えない情報であるため、
            全ての開発者が参照できるファイル(本ファイル)に記載している。
        -->
        <nablarch.db.url>jdbc:postgresql://postgres:5432/postgres</nablarch.db.url>
      </properties>
      <repositories>
        <repository>
          <id>keel-dev-repo</id>
          <url>http://proxy/nexus/repository/maven-releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>oss-staging</id>
          <url>https://oss.sonatype.org/content/groups/staging/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>oss-staging</id>
          <url>https://oss.sonatype.org/content/groups/staging/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>ci</activeProfile>
  </activeProfiles>
</settings>