
# プロジェクトのベースパッケージ
nablarch.commonProperty.basePackage=com.nablarch.example.proman.batch.action


# 業務日付のデフォルト区分
nablarch.businessDateProvider.defaultSegment=01

# validation時に精査対象の値にnullを許可するか否か
nablarch.validationManager.convertorAllowNullValue=true

# トランザクションタイムアウト時間（秒）
nablarch.transactionFactory.transactionTimeoutSec=0

# データベースへの値自動設定機能で設定する現在日付のデフォルトフォーマット
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# ステートメントのフェッチサイズ
nablarch.statementFactory.fetchSize=50

# JDBCドライバがステートメントの実行を待つ秒数
nablarch.statementFactory.queryTimeout=600

# バッチ実行時のスレッド数
# TODO: 性能要件にあわせて変更する
nablarch.multiThreadExecutionHandler.threadCount=1

# コミット間隔
# TODO: 性能要件にあわせて変更する
nablarch.loopHandler.commitInterval=1

# データリードハンドラの読み込み回数上限値
# TODO: 性能要件にあわせて変更する
nablarch.dataReadHandler.maxCount=0

# メール送信バッチの監視間隔(msec)
# TODO: 性能要件にあわせて変更する
nablarch.processResidentHandler.dataWatchInterval=1000

# テーブルをキューとして使ったメッセージングの監視間隔
# TODO: 性能要件にあわせて変更する
nablarch.requestThreadLoopHandler.serviceUnavailabilityRetryInterval=1

# コミットログの出力間隔
# TODO: 性能要件にあわせて変更する
nablarch.commitLogger.interval=500

# プロセス停止フラグ確認間隔
# TODO: 性能要件にあわせて変更する
nablarch.processStopHandler.checkInterval=100

# 最長リトライ時間(msec)
# TODO: 性能要件にあわせて変更する
nablarch.retryHandler.maxRetryTime=300000

# リトライ上限時間(msec)
# TODO: 性能要件にあわせて変更する
nablarch.retryHandler.retryCount=10

# リトライ間隔(msec)
# TODO: 性能要件にあわせて変更する
nablarch.retryHandler.retryIntervals=5000

# リトライ時のデータリーダ破棄フラグ
# TODO: 性能要件にあわせて変更する
nablarch.retryHandler.destroyReader=true

# トランザクション分離レベル
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# SQLファイルのエンコーディング
nablarch.sqlLoader.fileEncoding=utf-8


# デフォルトの返信先メールアドレス
nablarch.mailRequestConfig.defaultReplyTo=default.reply.to@nablarch.jp

# デフォルトの差し戻し先メールアドレス
nablarch.mailRequestConfig.defaultReturnPath=default.return.path@nablarch.jp

# デフォルトの文字セット
nablarch.mailRequestConfig.defaultCharset=ISO-2022-JP

# 最大宛先数
nablarch.mailRequestConfig.maxRecipientCount=100

# 最大添付ファイルサイズ（バイト数）
nablarch.mailRequestConfig.maxAttachedFileSize=2097152

# メール送信要求IDの採番対象識別ID
nablarch.mailConfig.mailRequestSbnId=9999

# メール送信成功時のメッセージID
# (TODO PJのID体系に併せて設定値を変更)
nablarch.mailConfig.sendSuccessMessageId=mail.sendSuccess

# メール送信失敗時のメッセージID
# (TODO PJのID体系に併せて設定値を変更)
nablarch.mailConfig.sendFailureCode=mail.sendFailure

# メール送信要求件数出力時のメッセージID
# (TODO PJのID体系に併せて設定値を変更)
nablarch.mailConfig.mailRequestCountMessageId=mail.requestCount

# 接続タイムアウト値
nablarch.mailSessionConfig.mailSmtpConnectionTimeout=10000

# 接続タイムアウト値
nablarch.mailSessionConfig.mailSmtpTimeout=10000
