
# Base package of project
nablarch.commonProperty.basePackage=com.nablarch.example.proman.batch

# Default business date category
nablarch.businessDateProvider.defaultSegment=01

# Indicates whether null is permitted for scanned values during validation
nablarch.validationManager.convertorAllowNullValue=true

# Transaction timeout time (seconds)
nablarch.transactionFactory.transactionTimeoutSec=0

# Default format of current date set using the feature to automatically set values in the database.
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# Fetch size of statements
nablarch.statementFactory.fetchSize=50

# Wait time (seconds) for execution of statements by the JDBC driver
nablarch.statementFactory.queryTimeout=600

# Number of threads for batch execution
# TODO: Change according to performance requirements
nablarch.multiThreadExecutionHandler.threadCount=1

# Commit interval
# TODO: Change according to performance requirements
nablarch.loopHandler.commitInterval=1

# Maximum number of times data reading handler can be loaded
# TODO: Change according to performance requirements
nablarch.dataReadHandler.maxCount=0

# Monitoring interval of mailing batches (msec)
# TODO: Change according to performance requirements
nablarch.processResidentHandler.dataWatchInterval=1000

# Monitoring interval of messaging using table for queue
# TODO: Change according to performance requirements
nablarch.requestThreadLoopHandler.serviceUnavailabilityRetryInterval=1

# Output interval of commit log
# TODO: Change according to performance requirements
nablarch.commitLogger.interval=500

# Interval for confirmation of process stop flags
# TODO: Change according to performance requirements
nablarch.processStopHandler.checkInterval=100

# Maximum retry time (msec)
# TODO: Change according to performance requirements
nablarch.retryHandler.maxRetryTime=300000

# Maximum retry time (msec)
# TODO: Change according to performance requirements
nablarch.retryHandler.retryCount=10

# Retry interval (msec)
# TODO: Change according to performance requirements
nablarch.retryHandler.retryIntervals=5000

# Flag for discarding data reader when retrying
# TODO: Change according to performance requirements
nablarch.retryHandler.destroyReader=true

# Separation level of transactions
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# Encoding of SQL files
nablarch.sqlLoader.fileEncoding=utf-8

# Default email address for replies
nablarch.mailRequestConfig.defaultReplyTo=default.reply.to@nablarch.jp

# Default return email address
nablarch.mailRequestConfig.defaultReturnPath=default.return.path@nablarch.jp

# Default character set
nablarch.mailRequestConfig.defaultCharset=ISO-2022-JP

# Maximum number of recipients
nablarch.mailRequestConfig.maxRecipientCount=100

# Maximum attachment size (bytes)
nablarch.mailRequestConfig.maxAttachedFileSize=2097152

# Automatically numbered item ID for email sending requirement ID
nablarch.mailConfig.mailRequestSbnId=9999

# Message ID used when an email is sent successfully
# (TODO: Change setting according to project ID system)
nablarch.mailConfig.sendSuccessMessageId=mail.sendSuccess

# Message ID used when sending of an email fails
# (TODO: Change setting according to project ID system)
nablarch.mailConfig.sendFailureCode=mail.sendFailure

# Message ID used when outputting the number of emailing requirements
# (TODO: Change setting according to project ID system)
nablarch.mailConfig.mailRequestCountMessageId=mail.requestCount

# Connection timeout value
nablarch.mailSessionConfig.mailSmtpConnectionTimeout=10000

# Connection timeout value
nablarch.mailSessionConfig.mailSmtpTimeout=10000
