<settings>
  <mirrors>
    <mirror>
      <id>maven-default-http-blocker</id>
      <mirrorOf>dummy</mirrorOf>
      <name></name>
      <url>http://0.0.0.0/</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>ci</id>
      <properties>
        <!--
            Below are database connection details for the development environment used by the GSP.
            It is acceptable for all developers to know this information,
            so the information is written in a file that all developers can reference (this file).
        -->
        <nablarch.db.url>jdbc:postgresql://postgres:5432/postgres</nablarch.db.url>
      </properties>
      <repositories>
        <repository>
          <id>dev-repo</id>
          <url>http://proxy/nexus/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>dev-repo</id>
          <url>http://proxy/nexus/repository/maven-public/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>ci</activeProfile>
  </activeProfiles>
</settings>