# Paths of CSV defining prohibited HTML tag attributes.
# Prohibited HTML tag attributes are not deleted unless specified.
invalid.html.csv.path=./html-check-config.csv

# Indicates whether to output n:error tags together with input items.
# The default is true.
# use.error.tag=

# Output position of n:error tag.
# "ABOVE" if outputting immediately before the input items.
# "BELOW" if outputting immediately after the input items.
# The default is "BELOW".
# error.tag.position=

# Indicates whether to output a directive.
# The default is true.
# use.directive=

# Encoding specified as contentType for page directives.
# The default is UTF-8.
# directive.content.type.encoding=

# Encoding specified as pageEncoding for page directives.
# The default is UTF-8.
# directive.page.encoding=

# Line break code used when outputting JSP files.
# Specify one of the following.
# LF(Line Feed)
# CR(Carriage Return)
# CRLF
# The default is LF.
# jsp.line.separator=

# Character code for JSP files.
# The default is UTF-8.
# jsp.charset=

# Maximum number of characters in one line in JSP files.
# The default is 150.
# jsp.max.line.columns=

# Character code for HTML files.
# The default is UTF-8.
# html.charset=
