
# プロジェクトのベースパッケージ
nablarch.commonProperty.basePackage=com.nablarch.example.climan.rest

# 業務日付のデフォルト区分
nablarch.businessDateProvider.defaultSegment=01

# トランザクションタイムアウト時間（秒）
nablarch.transactionFactory.transactionTimeoutSec=15

# データベースへの値自動設定機能で設定する現在日付のデフォルトフォーマット
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# ステートメントのフェッチサイズ
nablarch.statementFactory.fetchSize=50

# JDBCドライバがステートメントの実行を待つ秒数
nablarch.statementFactory.queryTimeout=600

# トランザクション分離レベル
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# SQLファイルのエンコーディング
nablarch.sqlLoader.fileEncoding=utf-8

# 検索結果上限件数
app.common.search.limit=1000
