-t
  "com\.nablarch\.example\.proman\.*"
--ignorePackageList
  "com\.nablarch\.example\.proman\.common\.code"
  "com\.nablarch\.example\.proman\.entity"
  "com\.nablarch\.example\.proman\.common\.validation"
  "com\.nablarch\.example\.proman\.common\.id\.*"
  "com\.nablarch\.example\.proman\.web\.common"
--ignoreClassList
  ".*Form$"
  ".*Service$"
--immutableClassNameList
  "java.lang.Boolean"
  "java.lang.Byte"
  "java.lang.Character"
  "java.lang.Double"
  "java.lang.Float"
  "java.lang.Integer"
  "java.lang.Long"
  "java.lang.Short"
  "java.lang.String"
  "java.math.BigDecimal"
  "java.math.BigInteger"
-o
  proman-web/target/web-reportField.csv