// java.lang
java.lang.Comparable
java.lang.Boolean
java.lang.Byte
java.lang.Character
java.lang.Class
java.lang.Double
java.lang.Enum
java.lang.Float
java.lang.Integer
java.lang.Long
java.lang.Math
java.lang.Number
java.lang.Object
java.lang.Short
java.lang.String
java.lang.StringBuilder
java.lang.Deprecated
java.lang.FunctionalInterface
java.lang.Override

// java.math
java.math.BigDecimal
java.math.BigInteger
java.math.MathContext
java.math.RoundingMode

// java.sql
java.sql.Blob
java.sql.Clob
java.sql.NClob
java.sql.Date
java.sql.Time
java.sql.Timestamp

// java.util
java.util.Collection
java.util.Comparator
java.util.Deque
java.util.Iterator
java.util.List
java.util.ListIterator
java.util.Map
java.util.Map.Entry
java.util.NavigableMap
java.util.NavigableSet
java.util.Queue
java.util.Set
java.util.SortedMap
java.util.SortedSet
java.util.AbstractMap.SimpleImmutableEntry
java.util.ArrayDeque
java.util.ArrayList
java.util.Arrays
java.util.Base64
java.util.Base64.Decoder
java.util.Base64.Encoder
java.util.BitSet
java.util.Calendar
java.util.Calendar.Builder
java.util.Collections
java.util.Date
java.util.DoubleSummaryStatistics
java.util.EnumMap
java.util.EnumSet
java.util.HashMap
java.util.HashSet
java.util.IntSummaryStatistics
java.util.LinkedHashMap
java.util.LinkedHashSet
java.util.LinkedList
java.util.Locale
java.util.LongSummaryStatistics
java.util.Objects
java.util.Optional
java.util.OptionalDouble
java.util.OptionalInt
java.util.OptionalLong
java.util.PriorityQueue
java.util.Properties
java.util.Random
java.util.Spliterators
java.util.StringJoiner
java.util.TreeMap
java.util.TreeSet
java.util.UUID

// java.util.function
java.util.function

// java.util.stream
java.util.stream
