// nablarch-common-dao
javax.persistence.Entity
javax.persistence.Table
javax.persistence.Column
javax.persistence.Id
javax.persistence.Version
javax.persistence.Temporal
javax.persistence.GeneratedValue
javax.persistence.SequenceGenerator
javax.persistence.TableGenerator
javax.persistence.OptimisticLockException

// nablarch-core-validation-ee
javax.validation.Valid

// nablarch-fw-jaxrs
javax.ws.rs.Consumes
javax.ws.rs.Produces
javax.ws.rs.core.MediaType

// nablarch-fw-batch-ee
javax.batch.api.AbstractBatchlet
javax.batch.api.BatchProperty
javax.batch.api.Batchlet
javax.batch.api.chunk.AbstractItemReader
javax.batch.api.chunk.AbstractItemWriter
javax.batch.api.chunk.ItemProcessor
javax.batch.api.chunk.ItemReader
javax.batch.api.chunk.ItemWriter
javax.batch.runtime.BatchStatus
javax.batch.runtime.context.JobContext
javax.batch.runtime.context.StepContext
javax.enterprise.context.Dependent
javax.inject.Inject
javax.inject.Named

