@charset "UTF-8";
/*
 * common.css
 */

/* -------------------- Message area -------------------- */
.message-area {
    margin: 20px 0px 20px 30px;
}
.message-normal {
    color: #0000FF;
}
.message-error {
    color: #FF0000;
}
.message-info {
    color: #000000;
}

.required:after{
    color:#DB8B9A;
    font-size:8px;
}

/* ---------------------- code tags -------------------------*/

/* Hides codeCheckboxes entities. */
input.code-checkbox {
    opacity:0!important;
}

/* Adjusts layout. Specifies relative position of codeCheckboxes */
input.code-checkbox + label {
    margin-left: -7px;
    position: relative;
    padding-left: 1.85714em;
}

/* Adjusts layout. Defines appearance of codeCheckboxes (before event) */
input.code-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: '';
    border-radius: .21428571rem;
    border: 1px solid #d4d4d5;
}

/* Adjusts layout. Defines appearance of codeCheckboxes (after event) */
input.code-checkbox + label:after {
    font-family: Checkbox;
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    text-align: center;
}

/* Adjusts layout. Defines appearance of check mark for codeCheckboxes (after event) */
input.code-checkbox:checked ~ label:after {
    content: '\e800';
    opacity: 1;
}

/* Adjusts layout. Specifies wrapped display method for codeCheckboxes */
.code-checkbox-fields {
    flex-wrap: wrap;
}

/* Hides codeRadioButtons entities. */
input.code-radio {
    opacity: 0!important;
}

/* Adjusts layout. Specifies relative position of codeRadioButtons */
input.code-radio + label {
    margin-left: -7px;
    position: relative;
    padding-left: 1.85714em;
}

/* Adjusts layout. Defines appearance of codeRadioButtons (before event) */
input.code-radio + label:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 500rem;
    top: 1px;
    left: 0;
    border: 1px solid #d4d4d5;
}

/* Adjusts layout. Defines appearance of codeRadioButtons (after event) */
input.code-radio + label:after {
    top: 1px;
    left: 0;
    border-radius: 500rem;
    transform: scale(.46666667);
    content: ''!important;
    width: 15px;
    height: 15px;
    position: absolute;
}

/* Adjusts layout. Defines appearance of check mark for codeRadioButtons (after event) */
input.code-radio:checked ~ label:after {
    background-color: rgba(0,0,0,.95);
}

/* Adjusts layout. Specifies wrapped display method for codeRadioButtons */
.code-radio-fields {
    flex-wrap: wrap;
}

/* -------------------- textarea tags -----------------------*/
div.text{
    word-break: break-all;
}

/* -------------------- table tags -----------------------*/
table thead {
    word-break: break-word;
}
table td{
    word-break: break-all;
}

/* -------------------- customize semantic-ui class --------------*/
.column{
    word-break: break-all;
}
