# 使用禁止とするHTMLタグの属性を定義したCSVファイルのパス。
# 指定がない場合は使用禁止とするHTMLタグの属性削除を行わない。
invalid.html.csv.path=./html-check-config.csv

# 入力項目と一緒にn:errorタグを出力するか否か。
# デフォルトはtrue。
# use.error.tag=

# n:errorタグの出力位置。
# 入力項目のすぐ前に出力する場合は”ABOVE”。
# 入力項目のすぐ後に出力する場合は”BELOW”。
# デフォルトは”BELOW”。
# error.tag.position=

# ディレクティブを出力するか否か。
# デフォルトはtrue。
# use.directive=

# pageディレクティブのcontentTypeに指定するエンコーディング。
# デフォルトはUTF-8。
# directive.content.type.encoding=

# pageディレクティブのpageEncodingに指定するエンコーディング。
# デフォルトはUTF-8。
# directive.page.encoding=

# JSPファイル出力時に使用する改行コード。
# 次のいずれかを指定する。
# LF(Line Feed)
# CR(Carriage Return)
# CRLF
# デフォルトはLF。
# jsp.line.separator=

# JSPファイルの文字コード。
# デフォルトはUTF-8。
# jsp.charset=

# JSPファイルの1行の最大桁数。
# デフォルトは150。
# jsp.max.line.columns=

# HTMLファイルの文字コード。
# デフォルトはUTF-8。
# html.charset=
