
# Base package of project
nablarch.commonProperty.basePackage=com.nablarch.example.proman.web

# Default business date category
nablarch.businessDateProvider.defaultSegment=01

# Transaction timeout time (seconds)
nablarch.transactionFactory.transactionTimeoutSec=60000

# Default format of current date set using the feature to automatically set values in the database.
nablarch.currentDateTimeAnnotationHandler.dateFormat=yyyyMMdd

# Fetch size of statements
nablarch.statementFactory.fetchSize=50

# Wait time (seconds) for execution of statements by the JDBC driver
nablarch.statementFactory.queryTimeout=60000

# Indicates whether hidden encryption is used
# Set true if window scope is used (always set this for full-scale operation)
nablarch.customTagConfig.useHiddenEncryption=false

# Maximum Content-Length (byte count) permitted for uploads
nablarch.uploadSettings.contentLengthLimit=1000000

# Default page when alteration is detected
nablarch.nablarchTagHandler.path=/errorPages/TAMPERING-DETECTED.jsp

# Status code returned when alteration is detected
nablarch.nablarchTagHandler.statusCode=400

# Default value of elementLabelPattern attribute for select tags, radioButton tags and checkbox tags
nablarch.customTagConfig.elementLabelPattern=$VALUE$:$LABEL$

# Name of popup window
nablarch.customTagConfig.popupWindowName=defaultSubWindow

# Display method for submission
nablarch.customTagConfig.displayMethod=NORMAL

# Message ID to be used for the error message displayed in the screen to which the system navigates when double submission is judged to have occurred.
# (TODO: Change setting according to project ID system (improper screen transition).)
nablarch.doubleSubmissionHandler.messageId=errors.doubleSubmission

# Response status code used when double submission is judged to have occurred
nablarch.doubleSubmissionHandler.statusCode=200

# Default session store name
nablarch.sessionManager.defaultStoreName=db

# Validity period (seconds) of session store
nablarch.sessionManager.expires=1800

# Cookie name for session store
nablarch.sessionStoreHandler.cookieName=NABLARCH_SID

# Path attribute for session store
nablarch.sessionStoreHandler.cookiePath=/

# Secure attribute for session store
nablarch.sessionStoreHandler.cookieSecure=false

# Indicates whether to use GET request
nablarch.customTagConfig.useGetRequest=true

# Separation level of transactions
nablarch.transactionFactory.isolationLevel=READ_COMMITTED

# Encoding of SQL files
nablarch.sqlLoader.fileEncoding=utf-8

# Language
nablarch.languageAttribute.defaultLanguage=ja
nablarch.languageAttribute.supportedLanguages=ja
nablarch.languageAttribute.cookieMaxAge=600000

#
nablarch.userIdAttribute.anonymousId=guest

# Timezone
nablarch.timeZoneAttribute.defaultTimeZone=Asia/Tokyo
